.submitone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: black;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    justify-content: center;
  }

  .gray {
    background: #eaeaea;
    color: #676767;
  }
