.update-spot-container {
    max-width: 800px;
    margin: 0 auto;
  }

  .update-spot-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .update-spot-section-wrapper {
    margin-top: 20px;
  }

  .location-section {
    margin-bottom: 30px;
  }

  .description-section {
    margin-bottom: 30px;
  }

  .input-wrapper {
    margin-bottom: 20px;
  }

  .input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .error-message {
    color: red;
  }

  .update-spot-submit-btn {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .update-spot-submit-btn:hover {
    background-color: #ee6060;
  }


  .city-state-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  }

  .city-state-wrapper input {
    flex: 1;
  }

 .comma {
    font-size: x-large;
    font-weight: bold;
    margin-top: 10px;
  }
.input-label-city {
    width: 75%;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-label-state {
    width: 25%;
    margin-bottom: 5px;
    font-weight: bold;
}

.city-state-container {
    width: 100%;
    display: flex;
}

.city {
    width:68%;
}

.state {
    width: 25%;
}

.button-container {
    display: flex;
    justify-content: center;
}
