.reviewer {
    font-size: x-large;
}

.date {
    font-size: medium;
    color: grey;
}

.comment {
    font-size: medium;
    margin-bottom: 20px;
}

.post-review-button-list {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 40px;
  }
