.profile-dropdown {
    margin-right: 20px;
    position: absolute;
    top: 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    border: 0.0001rem solid #00000025;
}

.profile-dropdown.hidden {
    display: none;
}

.menu-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 20px;
}

.menu-underline {
    width: 100px;
    height: 2px;
    background-color: black;
    border-radius: 9px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.manage-spots {
    cursor: pointer;
}

.logout {
    cursor: pointer;
}

.menu-buttons-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.line {
    width: 70px;
    height: 2px;
    background-color: black;
    border-radius: 9px;
    margin: 1px 0;
}

.email {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-button {
    margin-right: 20px;
    width: 90px;
    height: 50px;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 0.0001rem solid transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s;
    border-color: #00000025;
    gap: 1px;
}

.dash-container {
    width: auto;
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 5px;
    padding-left: 5px;
    flex-direction: column;
    align-items: center;
}
.dash {
    width: 20px;
    height: 2px;
    background-color: black;
}

.dashTwo{
    width: 20px;
    height: 2px;
    background-color: black;
}

.dashThree {
    width: 20px;
    height: 2px;
    background-color: black;
}



.profile-button svg {
    width: 2rem;
    height: 2rem;
    fill: rgba(0, 0, 0, 0.6);
}

.profile-button:hover {
    box-shadow: 0px 4px 5px -1px #00000025;
}
